<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="500" height="400" alt="Logo" src="https://cdn.dribbble.com/users/182414/screenshots/1949590/rasa_lotusdribble.jpg">

<br/> 
<button type="button" class="btn btn-default" (click)="showRegistrationToggle()">Register/Login</button>
<button type="button" class="btn btn-default" (click)="showCoursesToggle()">View Courses</button>
<button type="button" class="btn btn-default" (click)="showScheduleToggle()">View Schedule</button>
</div>

<br/>
<br/>
<br/>
<div class="container" >
<table class="table table-bordered" *ngIf="showCourses">
  <thead>
    <tr  style="background:darkorange;">
      <th>Course Id</th>
      <th>Course Name</th>
      <th>Course Credit</th>
      <th>Course Start Date</th>
      <th>Course Fees</th>
      <th>Course Grade</th>
    </tr>
  </thead>
  <tbody>
    <tbody>
      <tr *ngFor="let course of courses">
          <td>{{course.courseId}}</td>
          <td>{{course.courseName}}</td>
          <td>{{course.credit}}</td>
          <td>{{course.startDate}}</td>
          <td>{{course.fees | currency}}</td>    
          <td>{{course.grade}}</td>    
      </tr>
  </tbody>
</table>
</div>

<div class="container" *ngIf="showRegistration" style="text-align:center">
<div class="panel panel-default">
    <div class="panel-heading" style="background:darkorange;" >Registration Form</div>
    <div class="panel-body">

      <form class="form-horizontal" role="form">
        <div class="form-group">
            <label for="inputType" class="col-sm-2 control-label">First Name:</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="input" placeholder="First Name">
            </div>
        </div>
    </form>

    <form class="form-horizontal" role="form">
      <div class="form-group">
          <label for="inputType" class="col-sm-2 control-label">Last Name:</label>
          <div class="col-sm-2">
              <input type="text" class="form-control" id="input" placeholder="Last Name">
          </div>
      </div>
  </form>
    

  <form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputType" class="col-sm-2 control-label">Email Id:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="input" placeholder="@email">
        </div>
    </div>
 </form>

 <form class="form-horizontal" role="form">
      <div class="form-group">
          <label for="inputType" class="col-sm-2 control-label">Password:</label>
          <div class="col-sm-2">
              <input type="password" class="form-control" id="input" placeholder="Password">
          </div>
      </div>
  </form>

  <form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="inputType" class="col-sm-2 control-label">Date Of Birth</label>
        <div class="col-sm-2">
            <input type="date" class="form-control" id="input" placeholder="mm/dd/yyyy">
        </div>
    </div>
</form>

<button type="button" class="btn btn-default" (click)="submitRegistration()">Submit</button>
<button type="button" class="btn btn-default" (click)="cancelRegistration()">Cancel</button>

    </div>
  </div>
</div>
